@charset "UTF-8";

span.title01{
	font-size: 70px;
	color: rgb(54, 84, 134);
	font-family: Impact;
}

span.title02{
	font-size: 20px;
	color: rgb(220, 242, 241);
	font-family: sans-serif;
	font-weight: bold;
}
